---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 60276a15edb5e38ff5f8a33b713e673f
      X-Memc-Age:
      - '6260'
      X-Memc-Expires:
      - '16551'
      Etag:
      - W/"363bf01a57ccb3ef074ad412937edf45"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"","id":2,"imdb_id":"tt0094675","original_language":"fi","original_title":"Ariel","overview":"Taisto
        Kasurinen is a Finnish coal miner whose father has just committed suicide
        and who is framed for a crime he did not commit. In jail, he starts to dream
        about leaving the country and starting a new life. He escapes from prison
        but things don''t go as planned...","popularity":8.492,"poster_path":"/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg","production_companies":[{"id":2303,"logo_path":null,"name":"Villealfa
        Filmproductions","origin_country":"FI"}],"production_countries":[{"iso_3166_1":"FI","name":"Finland"}],"release_date":"1988-10-21","revenue":0,"runtime":73,"spoken_languages":[{"english_name":"Finnish","iso_639_1":"fi","name":"suomi"}],"status":"Released","tagline":"","title":"Ariel","video":false,"vote_average":7.054,"vote_count":249}'
  recorded_at: Sun, 21 May 2023 06:05:49 GMT
[...]
