---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&language=en-US&query=Miss%20Congeniality
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 737e74db710ea1980e8917fd463a06f2
      X-Memc-Age:
      - '16514'
      X-Memc-Expires:
      - '11434'
      Etag:
      - W/"1b6349e548479af8d98d4f7d2ef54b36"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tBOLfpP25TgqnWvhvsWocEXOoYS.jpg","genre_ids":[35,80,28],"id":1493,"original_language":"en","original_title":"Miss
        Congeniality","overview":"When the local FBI office receives a letter from
        a terrorist known only as ''The Citizen'', it''s quickly determined that he''s
        planning his next act at the Miss America beauty pageant. Because tough-as-nails
        Gracie Hart is the only female Agent at the office, she''s chosen to go undercover
        as the contestant from New Jersey.","popularity":19.192,"poster_path":"/pat3vKaRlB70he4ghwTMydR4TvP.jpg","release_date":"2000-12-22","title":"Miss
        Congeniality","video":false,"vote_average":6.515,"vote_count":3456},{"adult":false,"backdrop_path":"/2UYxVugjbaPHH5f3cEQveufe75Y.jpg","genre_ids":[28,35],"id":10040,"original_language":"en","original_title":"Miss
        Congeniality 2: Armed and Fabulous","overview":"After her triumph at the Miss
        United States pageant, FBI agent Gracie Hart becomes an overnight sensation
        -- and the new \"face of the FBI\". But it''s time to spring into action again
        when the pageant''s winner, Cheryl, and emcee, Stan, are abducted.","popularity":16.15,"poster_path":"/gcYoIHND3ugn2VH1cNHHNQasEyI.jpg","release_date":"2005-03-11","title":"Miss
        Congeniality 2: Armed and Fabulous","video":false,"vote_average":5.7,"vote_count":1649}],"total_pages":1,"total_results":2}'
  recorded_at: Sun, 21 May 2023 06:06:03 GMT
recorded_with: VCR 6.1.0
